<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
     <div class="form-group">
          <label for="confirmCode">Confirm Code</label>
          <input id="confirmCode" type="text" formControlName="confirmCode" class="form-control"
               placeholder="Enter confirm code" />
          <div *ngIf="hasDisplayableError('confirmCode')" class="text-danger">
               Confirm code is required.
          </div>
     </div>

     <div class="form-group">
          <label for="newPassword">New Password</label>
          <input id="newPassword" type="password" formControlName="newPassword" class="form-control"
               placeholder="Enter new password" />
          <div *ngIf="hasDisplayableError('newPassword')" class="text-danger">
               New password is required (min 6 characters).
          </div>
     </div>

     <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control"
               placeholder="Confirm new password" />
          <div *ngIf="hasDisplayableError('confirmPassword')" class="text-danger">
               Please confirm your password.
          </div>
     </div>

     <button type="submit" class="btn btn-primary mt-3">Update Password</button>
</form> -->

<form [formGroup]="form" (ngSubmit)="onSubmit()">
     <div class="con">
          <!-- Header Content -->
          <header class="head-form">
               <h2>New Password</h2>
               <p>Please enter to continue!</p>
          </header>

          <div class="field-set">

               <!-- Username -->
               <div class="mb-3">
                    <span class="input-item">
                         <i class="fa fa-user-circle"></i>
                    </span>
                    <input class="form-input" id="txt-input" type="text" placeholder="@confirmCode"
                         formControlName="confirmCode" required>

                    <div *ngIf="hasDisplayableError('confirmCode')" class="text-danger">
                         Confirm code is required.
                    </div>
               </div>

               <br>

               <!-- Password -->
               <div class="mb-3">

                    <span class="input-item">
                         <i class="fa fa-key"></i>
                    </span>
                    <input class="form-input" type="password" placeholder="newPassword" formControlName="newPassword"
                         id="pwd" name="newPassword" required>



                    <div *ngIf="hasDisplayableError('newPassword')" class="text-danger">
                         New password is required (min 6 characters).
                    </div>



                    <!-- Show/hide password -->
                    <span>
                         <i class="fa fa-eye" aria-hidden="true" id="eye"></i>
                    </span>
               </div>


               <br>
               <div class="mb-3">

                    <span class="input-item">
                         <i class="fa fa-key"></i>
                    </span>
                    <input class="form-input" type="password" placeholder="confirmPassword "
                         formControlName="confirmPassword" id="confirmPassword" name="confirmPassword" required>

                    <div *ngIf="hasDisplayableError('confirmPassword')" class="text-danger">
                         Please confirm your password.
                    </div>

               </div>

               <br>


               <button class="log-in"> Save </button>
          </div>

          <!-- Other links -->

     </div>
</form>