<div class="header">
     <!-- Logo -->
     <div class="logo">Selecao</div>

     <!-- Các liên kết điều hướng -->
     <ul class="nav-links">
          <li><a href="/dashboard" class="active">Home</a></li>
          <li><a href="/dashboard">About</a></li>
          <li><a href="/dashboard">Services</a></li>
          <li><a href="/dashboard">Portfolio</a></li>
          <li><a href="/dashboard">Team</a></li>
          <li><a href="/cart">My Cart</a></li>
          <li><a href="/historyOrder">Order</a></li>

          <li><button class="nav-button" (click)="onLogout()">Logout</button></li>
          <li><button class="nav-button" (click)="onInfor()">User_Infor</button></li>

     </ul>
</div>