<form [formGroup]="form" (ngSubmit)="onSubmit()">
     <div class="mb-4">
          <h2 class="text-success">
               Confirm Code Email
          </h2>
     </div>

     <div class="field-set">
          <div class="mb-3">
               <!-- Input for ConfirmEmail -->
               <span class="input-item">
                    <i class="fa fa-user-circle"></i>
               </span>
               <input class="form-input" id="txt-input" type="text" name="forgotPassword" placeholder="@Email"
                    formControlName="forgotPassword" required />

               <!-- Validation Error Message -->
               <div class="error-feedback" *ngIf="
                         hasDisplayableError('forgotPassword') &&
                         form.get('forgotPassword')?.hasError('required')
                       ">
                    Please enter your Code
               </div>

               <!-- Submit Button -->
               <button type="submit" class="btn login_submit">
                    <span class="submits">Oke</span>
                    <i class="button_icon fas fa-chevron-right"></i>
               </button>
          </div>
     </div>
</form>