<div class="parent">
     <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="con">
               <!-- Header Content -->
               <header class="head-form">
                    <h2>Change Password</h2>
                    <p>Please enter to continue!</p>
               </header>

               <div class="field-set">
                    <!-- Các trường input -->
                    <div class="mb-3">
                         <span class="input-item">
                              <i class="fa fa-user-circle"></i>
                         </span>
                         <input class="form-input" id="txt-input" type="password" placeholder="@oldPassWord"
                              formControlName="oldPassWord" required>
                         <div *ngIf="hasDisplayableError('oldPassWord')" class="text-danger">
                              oldPassWord is required.
                         </div>
                    </div>

                    <div class="mb-3">
                         <span class="input-item">
                              <i class="fa fa-key"></i>
                         </span>
                         <input class="form-input" type="password" placeholder="newPassWord"
                              formControlName="newPassWord" id="pwd" name="newPassWord" required>
                         <div *ngIf="hasDisplayableError('newPassWord')" class="text-danger">
                              New password is required (min 6 characters).
                         </div>
                    </div>

                    <div class="mb-3">
                         <span class="input-item">
                              <i class="fa fa-key"></i>
                         </span>
                         <input class="form-input" type="password" placeholder="confirmPassWord "
                              formControlName="confirmPassWord" id="confirmPassWord" name="confirmPassWord" required>
                         <div *ngIf="hasDisplayableError('confirmPassWord')" class="text-danger">
                              Please confirm your password.
                         </div>
                    </div>

                    <button class="log-in"> Change Password </button>
               </div>
          </div>
     </form>
</div>