<ng-container *ngIf="router.url === '/dashboard' ||  router.url === '/historyOrder' ; else defaultHeaderLogin">
     <app-header-login></app-header-login>
</ng-container>

<ng-container *ngIf="router.url === '/home' || router.url === '/cart'  ; else defaultHeaderLogin">
     <app-header></app-header>
</ng-container>
<ng-container
     *ngIf="router.url === '/admin/manageAccount' || router.url === '/admin/manageProduct' || router.url === '/admin/manageOrder'; else defaultHeaderLogin">
     <app-header-admin></app-header-admin>
</ng-container>

<ng-template #defaultHeaderLogin></ng-template>

<router-outlet></router-outlet>

<app-footer></app-footer>