<div class="admin-container">
     <aside class="sidebar">
          <nav>
               <ul>
                    <li><a href="/admin/manageAccount" class="link">Manage Account</a></li>
                    <li><a href="/admin/manageProduct" class="link">Manage Product</a></li>
                    <li><a href="/admin/manageOrder" class="link">Manage Order</a></li>
               </ul>
          </nav>
     </aside>
     <main class="content">
          <div class="dashboard">
               <div class="col-12 d-flex justify-content-between align-items-center">
                    <h1 style="color: blue; margin: 0;">MANAGE-PRODUCT</h1>
                    <button class="btn btn-warning" (click)="openModel()">Add Product</button>
               </div>

               <div class="product-table">

                    <!-- Controls for Search and Page Size -->
                    <div class="controls-container d-flex align-items-center">

                         <button class="btn btn-warning" (click)="openSoldOut()">Is Active Produt</button>

                         <select id="pageSize" [(ngModel)]="PageSize" (change)="loadProducts()"
                              class="form-select select-small me-2">
                              <option *ngFor="let size of [5, 10, 20, 50]" [value]="size">{{ size }}</option>
                         </select>

                         <!-- Input -->
                         <input type="text" placeholder="Search for products..." [(ngModel)]="keyword"
                              class="form-control me-2 search-input" />

                         <!-- Button -->
                         <button class="btn btn-primary" (click)="onSearch()">Submit</button>
                    </div>

                    <!-- Product Table -->
                    <table border="1" cellspacing="0" cellpadding="10" style="width: 100%;">
                         <thead>
                              <tr>
                                   <th>Id</th>
                                   <th>Name</th>
                                   <th>Price</th>
                                   <th>Description</th>
                                   <th>Quantity</th>
                                   <th>Category</th>
                                   <th>Material</th>

                                   <th>Action</th>
                              </tr>
                         </thead>
                         <tbody>
                              <tr *ngFor="let product of products">
                                   <td>{{ product.id }}</td>
                                   <td>{{ product.name }}</td>
                                   <td>{{ product.price }}</td>
                                   <td>{{ product.description }}</td>
                                   <td>{{ product.countOfProduct }}</td>
                                   <td>{{ getCategoryName(product.cateId) }}</td>
                                   <!-- Hiển thị tên Material -->
                                   <td>{{ getMaterialName(product.mateId) }}</td>
                                   <td>
                                        <button class="btn btn-primary" (click)="onUpdate(product)">Update</button>
                                        ||
                                        <button class="btn btn-danger" (click)="onDelete(product.id)">Delete</button>
                                   </td>
                              </tr>
                         </tbody>
                    </table>

                    <!-- Pagination Controls -->
                    <div class="pagination">
                         <button (click)="previousPage()" [disabled]="PageNumber <= 1">&laquo;</button>
                         <span *ngFor="let page of getPageNumbers()" (click)="goToPage(page)"
                              [class.active]="PageNumber === page">{{ page }}</span>
                         <button (click)="nextPage()" [disabled]="PageNumber >= totalPages">&raquo;</button>

                         <li><button class="nav-button" (click)="onLogout()">Logout</button></li>
                    </div>
               </div>
          </div>
     </main>
</div>

<!-- Model -->
<div class="modal" id="myModal" #myModal>
     <div class="modal-dialog">
          <div class="modal-content">
               <!-- Modal Header -->
               <div class="modal-header">
                    <h4 class="modal-title">Add New Product</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="onCloseModel()"></button>
               </div>

               <!-- Modal body -->
               <div class="modal-body">
                    <div class="row">
                         <div class="col-12">
                              <input type="text" name="name" class="form-control" placeholder="Name"
                                   [(ngModel)]="formData.name" />
                         </div>
                         <div class="col-12">
                              <input type="number" name="price" class="form-control" placeholder="Price"
                                   [(ngModel)]="formData.price" />
                         </div>
                         <div class="col-12">
                              <textarea name="description" class="form-control" placeholder="Description"
                                   [(ngModel)]="formData.description"></textarea>
                         </div>
                         <div class="col-12">
                              <textarea name="countOfProduct" class="form-control" placeholder="CountOfProduct"
                                   [(ngModel)]="formData.countOfProduct"></textarea>
                         </div>
                         <div class="col-6">
                              <label for="category">Category:</label>
                              <select name="category" id="category" class="form-control" [(ngModel)]="formData.cateId">
                                   <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}
                                   </option>
                              </select>
                         </div>
                         <div class="col-6">
                              <label for="material">Material:</label>
                              <select name="material" id="material" class="form-control" [(ngModel)]="formData.mateId">
                                   <option *ngFor="let material of materials" [value]="material.id">{{ material.name }}
                                   </option>
                              </select>
                         </div>
                    </div>
               </div>
               <!-- Modal footer -->
               <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="onCloseModel()">Close</button>
                    <button type="button" class="btn btn-success" (click)="onSubmit()">
                         {{ isEditMode ? 'Update' : 'Save' }}
                    </button>
               </div>
          </div>
     </div>
</div>