<div class="header">
     <!-- Logo -->
     <div class="logo">Selecao</div>

     <!-- Các liên kết điều hướng -->
     <ul class="nav-links">
          <!-- <li><a href="home" class="active">Home</a></li>
          <li><a href="home">About</a></li>
          <li><a href="home">Services</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="create-order">Order</a></li>
          <li><a href="user/login">Login</a></li> -->
          <!-- <button class="active" (click)="onLogout()"> Logout</button> -->

          <!-- <button class="active" (click)="onInfor()"> Infor User</button> -->

          <li><button class="nav-button" (click)="onLogout()">Logout</button></li>
     </ul>
</div>